<head>
    <style> body { margin: 0; } </style>
    <script src="//unpkg.com/force-graph"></script>
  </head>

  <body>
    <div id="graph"></div>
    <script>
    const processData = (gData) => {

      let selfLoopLinks = {};
      let sameNodesLinks = {};
      const curvatureMinMax = 0.25;

      // 1. assign each link a nodePairId that combines their source and target independent of the links direction
      // 2. group links together that share the same two nodes or are self-loops
      gData.links.forEach(link => {
        link.nodePairId = link.source <= link.target ? (link.source + "_" + link.target) : (link.target + "_" + link.source);
        let map = link.source === link.target ? selfLoopLinks : sameNodesLinks;
        if (!map[link.nodePairId]) {
          map[link.nodePairId] = [];
        }
        map[link.nodePairId].push(link);
      });

      // Compute the curvature for self-loop links to avoid overlaps
      Object.keys(selfLoopLinks).forEach(id => {
        let links = selfLoopLinks[id];
        let lastIndex = links.length - 1;
        links[lastIndex].curvature = 1;
        let delta = (1 - curvatureMinMax) / lastIndex;
        for (let i = 0; i < lastIndex; i++) {
          links[i].curvature = curvatureMinMax + i * delta;
        }
      });

      // Compute the curvature for links sharing the same two nodes to avoid overlaps
      Object.keys(sameNodesLinks).filter(nodePairId => sameNodesLinks[nodePairId].length > 1).forEach(nodePairId => {
        let links = sameNodesLinks[nodePairId];
        let lastIndex = links.length - 1;
        let lastLink = links[lastIndex];
        lastLink.curvature = curvatureMinMax;
        let delta = 2 * curvatureMinMax / lastIndex;
        for (let i = 0; i < lastIndex; i++) {
          links[i].curvature = - curvatureMinMax + i * delta;
          if (lastLink.source !== links[i].source) {
            links[i].curvature *= -1; // flip it around, otherwise they overlap
          }
        }
      });
    }
    fetch('./data').then(res => res.json()).then(gData => {
      processData(gData);

      const elem = document.getElementById('graph');
      const Graph = ForceGraph()(elem)
      .backgroundColor('#101020')
          .nodeRelSize(6)
          .nodeAutoColorBy('group')
          .nodeLabel(node => `${node.title}`)
          .onNodeClick(node => window.open(`${node.url}`, '_blank'))
          .linkColor(() => 'rgba(255,255,255,0.2)')
          .linkCurvature('curvature')
          .d3AlphaDecay(0.01)
          .graphData(gData);
        });
    </script>
  </body>
