<head>
  <style> body { margin: 0; } </style>

  <script src="//unpkg.com/3d-force-graph"></script>
<!--  <script src="../../dist/3d-force-graph.js"></script>-->
</head>

<body>

  <div id="3d-graph"></div>

  <script>
    const elem = document.getElementById('3d-graph');

    const Graph = ForceGraph3D()(elem)
      .jsonUrl('./data')
      .nodeAutoColorBy('title')
      .linkCurvature('curvature')
      .linkCurveRotation('rotation')
      .nodeLabel(node => `${node.title}`)
      .onNodeClick(node => window.open(`${node.url}`, '_blank'));
  </script>
</body>
